body {
    background: url(Image/XB2.png) center center fixed no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    -webkit-overflow-scrolling:touch;
}

/* 背景圖 */
.Image_Background {
    background: url(Image/XB1.jpg) center center;
    background-size: cover;
    content: " ";
    width: auto;
    height: 1080px;
    max-width: 100%;
}

/*遮罩*/
.BlackBackground {
    background: rgba(0,0,0,.7);
    width: auto;
    height: 1080px;
    max-width: 100%;
    max-height: 100%;
}

/*網頁標題 div*/
.container-fluid div {
    padding-left: 30px;
}



/* Nav 文字*/
.nav_setting li {
    font-size: 22px;
    padding-top: 20px;
}

/*MainPage*/
.MainPage {
    background: url(Image/XB2_DLC.jpg) center center;
    background-size: cover;
    content: " ";
    width: auto;
    height: 800px;
    max-width: 100%;
    max-height: 100%;
}

/* Nav 功能按鈕*/
#myNavbar a {
    color: white;
    background: rgba(0,0,0,.0);
    font-family: 'Viga', sans-serif;
}
    /*功能按鈕*/
    #myNavbar a::after {
        margin-top: 7px;
        content: '';
        display: block;
        width: 0;
        height: 4px;
        background: white;
        transition: width .3s;
        border-radius: 4px;
    }

    /*功能按鈕*/
    #myNavbar a:hover:after {
        width: 100%;
    }

/*網頁標題*/
.NavBar_Setting a {
    color: white;
    font-size: 50px;
    padding-top: 30px;
    font-family: 'Viga', sans-serif;
}
    /*網頁標題 Mouseover*/
    .NavBar_Setting a:hover {
        color: white;
    }
    /*網頁標題文字 Focus時(原本會變深藍色 改成不變色)*/
    .NavBar_Setting a:focus {
        color: white;
    }


/*網頁清單按鈕 */
.NavBar_Setting button {
    color: white;
    background: rgba(0,0,0,.0);
    border-style: none;
}


/* "HI I'm" 的文字*/
.Hi_Text {
    padding-top: 8%;
    font-family: 'Audiowide', cursive;
    color: white;
    font-size: 50px;
}

/* "Xeno Zhen" 的文字*/
.Name_Text {
    font-family: 'Audiowide', cursive;
    color: white;
    font-size: 180px;
}

/*電腦模式 子清單*/
.navbar-nav > li > .dropdown-menu {
    background: rgba(255,119,0,.95);
}


/*Info 頁面*/
.Info_Page {
    background: rgba(0,0,0,.2);
    content: " ";
    height: 623px;
}

/*整個(含桌面與手機模式)Info的Tab bar的div*/
.div_info1 {
    font-family: 'Noto Sans TC', sans-serif;
    padding-top: 15%;
}

/*桌面模式的Tab bar的div*/
.div_info1-1 {
    content: " ";
    width: 100%;
}

/*
.Introduction_Text {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}*/


/*回到頂端按鈕*/
#gotop {
    position: fixed;
    border-radius: 20px;
    right: 20px;
    bottom: 30px;
    padding: 0px 11.2px 10px 10px;
    font-size: 25px;
    background: rgba(255,119,0,.6);
    color: #FAFCFD;
    cursor: pointer;
    z-index: 1000;
    display: none;
    font-weight: bold;
}


/*子清單*/
#Child_List1, #Child_List2, #Child_List3 {
    text-align: center;
}

/*補空白間隔*/
.Space_Div {
    content: " ";
    height: 100px;
}

/*Info Page的桌面模式按鈕*/
li p {
    font-size: 25px;
    padding-top: 4%;
}


/*  (max-width:480px) vs (min-width: 321px) and (max-width: 768px)*/
@media screen and (min-width: 321px) and (max-width: 768px) {

    /*標題文字*/
    .NavBar_Setting a {
        font-size: 30px;
        padding-top: 20px;
        padding-left: 20px;
    }

    /*名字介紹 + nav的背景div*/
    .Image_Background {
        background-size: cover;
        width: auto;
        height: 1080px;
        max-width: 100%;
        max-height: 100%;
    }

     /* "HI I'm" 的文字*/
    .Hi_Text {
        padding-top: 8%;
        font-family: 'Audiowide', cursive;
        color: white;
        font-size: 30px;
    }

    /* "Xeno Zhen" 的文字*/
    .Name_Text {
        font-family: 'Audiowide', cursive;
        color: white;
        font-size: 60px;
    }

    /*清單第一層*/
    .navbar-nav {
        background-color: #393939; /*-- New attribute --*/
        background: rgba(255,119,0,.95);
        border-radius: 7px;
    }


    /*清單第一層 外層的div 用來覆蓋在第一個畫面的清單div*/
    #myNavbar {
        margin-right: 0;
        position: absolute;
        z-index: 999;
        width: 97%;
        content: " ";
        text-align: center;
    }

   
    /*子清單*/
    #Child_List1, #Child_List2, #Child_List3 {
        padding: 0;
        text-align: center;
    }

    /*子清單背景*/
    #Child_List_all {
        background: rgba(56,56,56,1);
        margin:0px 20px 0px 20px;
        border-radius:20px;
    }
}
