ul.tabs {
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
    height: 53px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-left: 10px;
}

    ul.tabs li {
        padding: 0px;
        border-style: none;
        margin: 0;
        cursor: pointer;
        width: 24%;
        background-color: #666;
        color: #ccc;
        border-radius: 5px;
        margin-right: 10px;
    }


        ul.tabs li:hover {
            background-color: #ccc;
            color: #333;
        }

        ul.tabs li.active {
            background: rgba(255,119,0,1);
            color: #fff;
            display: block;
        }

.tab_container {
    clear: both;
    float: left;
    width: 100%;
    overflow: auto;
}

.tab_content {
    padding: 20px;
    display: none;
    padding-top: 20px;
}

.tab_drawer_heading {
    display: none;
}

.tab_div {
    width: 100%;
    background: #fff;
    border-radius: 5px;
}


/*Info Page的桌面模式按鈕*/
li p {
    font-size: 25px;
    padding-top: 4%;
}

.InfoText {
    border-radius: 3px;
    float: left;
}

.col-sm-3 > p {
    font-size: 24px;
    font-weight: bold;
}

.col-sm-9 > p {
    font-size: 20px;
}

.PhotoDiv {
    text-align: center;
    padding-top: 40px;
}


/*每個頁面的標題Tag (灰橘那個標題)*/
.TabTag {
    background: linear-gradient(-75deg, transparent 35px,#666 0), linear-gradient(-75deg, transparent 15px,rgba(255,119,0) 0);
    width: 380px;
    height: 60px;
    font-size: 40px;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    padding-left: 30px;
}

#tab1, #tab2, #tab3, #tab4 {
    height: 440px;
}


@media screen and (min-width: 321px) and (max-width: 768px) {
    .div_info1-1 > ul {
        display: none;
    }

    .tab_drawer_heading {
        background-color: #ccc;
        color: #fff;
        margin: 0;
        padding: 5px 20px;
        display: block;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .d_active {
        background: rgba(255,119,0,1);
        color: #fff;
    }

    .tab_container {
        padding-left: 0;
        width: 100%;
    }

    .tab_div {
        border-radius: 0px;
    }

    /*每個頁面的標題Tag (灰橘那個標題)*/
    .TabTag {
        width: 300px;
        height: 50px;
        font-size: 32px;
    }

    #tab1, #tab2, #tab3, #tab4 {
        height: auto;
    }
}
