body {
    background: url(../Image/XB2.png) center center fixed no-repeat;
    background-color: white;
    background-size: cover;
    width: auto;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    -webkit-overflow-scrolling: touch;
}

/*給專門的英文用的字體*/
.font-family-For-E {
    font-family: 'Audiowide', cursive;
}

/*給英文混中文用的字體*/
.font-family-for-E-And-C {
    font-family: 'Noto Sans TC', sans-serif;
}

/* 背景圖 */
.Image_Background {
    background: url(../Image/XB1.jpg) center center;
    background-size: cover;
    content: " ";
    width: auto;
    height: 100%;
    max-width: 100%;
}

/*遮罩*/
.BlackBackground {
    background: rgba(0,0,0,.7);
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

/*網頁標題 div*/
.container-fluid div {
    padding-left: 30px;
}



/* Nav 文字*/
.nav_setting li {
    font-size: 22px;
    padding-top: 20px;
}

/*StoryPage*/
.StoryPage {
    /*background: url(../Image/XB2_DLC.jpg) center center;*/
    background: rgba(0,0,0,.2);
    /*background-color:black;*/
    background-size: cover;
    content: " ";
    width: auto;
    height: auto;
    max-width: 100%;
}

/* Nav 功能按鈕*/
#myNavbar a {
    color: white;
    background: rgba(0,0,0,.0);
}
    /*功能按鈕*/
    #myNavbar a::after {
        margin-top: 7px;
        content: '';
        display: block;
        width: 0;
        height: 4px;
        background: white;
        transition: width .3s;
        border-radius: 5px;
    }

    /*功能按鈕*/
    #myNavbar a:hover:after {
        width: 100%;
    }

/*網頁標題*/
.NavBar_Setting a {
    color: white;
    font-size: 50px;
    padding-top: 30px;
}
    /*網頁標題 Mouseover*/
    .NavBar_Setting a:hover {
        color: white;
    }
    /*網頁標題文字 Focus時(原本會變深藍色 改成不變色)*/
    .NavBar_Setting a:focus {
        color: white;
    }


/*網頁清單按鈕 */
.NavBar_Setting button {
    color: white;
    background: rgba(0,0,0,.0);
    border-style: none;
}


/* "HI I'm" 的文字*/
.Hi_Text {
    padding-top: 8%;
    color: white;
    font-size: 50px;
}

/* "Xeno Zhen" 的文字*/
.Name_Text {
    color: white;
    font-size: 180px;
}

/*電腦模式 子清單*/
.navbar-nav > li > .dropdown-menu {
    background: rgba(255,119,0,.95);
}


/*Info 頁面*/
.Info_Page {
    /*background: -webkit-linear-gradient(left,#98D6B5,#FFFFFF);
    background: -o-linear-gradient(right,#98D6B5,#FFFFFF);
    background: -moz-linear-gradient(right,#98D6B5,#FFFFFF);
    background: linear-gradient(to right,#98D6B5,#FFFFFF);*/
    /*background-color:white;*/
    /*background: linear-gradient(50deg, #CFCFCF 45%, #F7F7F7 94%);
    background: -moz-linear-gradient(50deg, #CFCFCF 45%, #F7F7F7 94%);
    background: -webkit-linear-gradient(50deg, #CFCFCF 45%, #F7F7F7 94%);
    background: -o-linear-gradient(50deg, #CFCFCF 45%, #F7F7F7 94%);*/
    background: linear-gradient(50deg, #212121 45%, #ffbb77 94%);
    background: -moz-linear-gradient(50deg, #212121 45%, #ffbb77 94%);
    background: -webkit-linear-gradient(50deg, #212121 45%, #ffbb77 94%);
    background: -o-linear-gradient(50deg, #212121 45%, #ffbb77 94%);
    content: " ";
    height: 720px;
}



/*桌面模式的Tab bar的div*/
.div_info1-1 {
    content: " ";
    width: 100%;
}

/*
.Introduction_Text {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}*/


/*回到頂端按鈕*/
#gotop {
    position: fixed;
    border-radius: 100px;
    right: 20px;
    bottom: 30px;
    padding: 0px 11.2px 10px 10px;
    font-size: 28px;
    background: rgba(255,119,0,.6);
    color: #FAFCFD;
    cursor: pointer;
    z-index: 1;
    display: none;
    font-weight: bold;
}


/*子清單*/
#Child_List1, #Child_List2, #Child_List3 {
    text-align: center;
}

/*補空白間隔*/
.Space_Div {
    content: " ";
    height: 100px;
}

li > p > img {
    margin-top: -8px;
    margin-right: 8px;
}


/*================Story 相關==================*/
.StoryChapter {
    background:rgba(255,119,0,1);
    height: 290px;
    width: 290px;
    /*讓Grid置中*/
    display: inline-block;
    float: none;
    border-radius:5px;

    transition: transform .2s; /* Animation */
    
}


/*放大*/
.StoryChapter:hover {
    transform: scale(1.1); 
}

.StoryRow {
    /*讓Grid置中*/
    text-align: center;
}

@media screen and (min-width:480px) and (max-width:670px) {
    .StoryChapter {
        
        height: 200px;
        width: 200px;
    }
}


@media screen and (max-width:479px) {
    .StoryChapter {
        
        height: 142px;
        width: 142px;
    }
}

/*================Story 相關==================*/


@media screen and (max-width: 768px) {

    .InfoText {
        padding-top: 30px;
    }
}




/*  (max-width:480px) vs (min-width: 321px) and (max-width: 768px)*/
@media screen and (max-width: 768px) {

    /*手機版 自傳Page更換背景 InfoPage改成伸縮是 會影響背景圖大小縮放*/
    .StoryPage {
        background: rgba(0,0,0,1);
        background: url(../Image/XB2_DLC.jpg) center center fixed no-repeat;
        
    }


    /*標題文字*/
    .NavBar_Setting a {
        font-size: 30px;
        padding-top: 20px;
        padding-left: 20px;
    }

    /*名字介紹 + nav的背景div*/
    .Image_Background {
        background-size: cover;
        width: auto;
        height: 1080px;
        max-width: 100%;
        max-height: 100%;
    }

    /* "HI I'm" 的文字*/
    .Hi_Text {
        padding-top: 8%;
        color: white;
        font-size: 30px;
    }

    /* "Xeno Zhen" 的文字*/
    .Name_Text {
        color: white;
        font-size: 90px;
    }

    /*清單第一層*/
    .navbar-nav {
        background-color: #393939; /*-- New attribute --*/
        background: rgba(255,119,0,.95);
        border-radius: 5px;
    }


    /*清單第一層 外層的div 用來覆蓋在第一個畫面的清單div*/
    #myNavbar {
        margin-right: 0;
        position: absolute;
        z-index: 999;
        width: 97%;
        content: " ";
        text-align: center;
    }


    /*子清單*/
    #Child_List1, #Child_List2, #Child_List3 {
        padding: 0;
        text-align: center;
    }

    /*子清單背景*/
    #Child_List_all {
        background: rgba(56,56,56,1);
        margin: 0px 20px 0px 20px;
        border-radius: 5px;
    }

    /*資訊頁面 為了Mobile模式出始時能配合About Me的長度*/
    .Info_Page {
        height: 1316px;
    }

    /*Info資訊 為了跟4個按鈕隔開的空格*/
    .Space_Div {
        height: 30px;
    }
}
