/*
    basic settings
*/
body {
    margin: 0px;
    /*background: url(../image/Lanyu001.png) center center fixed no-repeat;*/
    background-color: lightblue;
    /*滑動效果*/
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    z-index: -1;
}


/*遮罩*/
.BlackBackground {
    background: rgba(0,0,0,.7);
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

/* 背景圖 */
.Image_Background {
    background: url(../image/Lanyu001.png) center center;
    background-size: cover;
    content: " ";
    width: auto;
    height: 100%;
    max-width: 100%;

}

/*  各章間隔  */
body > section {
    margin-top: 10vh;
    margin-bottom: 10vh;
}


/*

    Menu 與 Narbar區    

*/
.menu {
    width: 100%;
    display: flex;
    background: rgba(0,0,0,0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    height: 50px;
}

    .menu li {
        float: left;
        list-style: none;
        margin: 7px 50px 0px 0px;
        color: #FFFFFF;
        font-size: 24px;
        font-family: "Poppins", sans-serif;
    }

        .menu li a {
            text-decoration: none;
            color: #FFFFFF;
            transition: color linear 0.15s;
            cursor: pointer;
        }

    .menu .menu-logo {
        margin: auto;
        margin-left: 0px;
        padding: 15px 15px 15px 25px;
    }

        .menu .menu-logo a {
            color: #ffffff;
        }

    .menu a:hover, .menu .current-active a {
        text-decoration: none;
        color: #FF5757;
    }

.toggle-nav, .leftmenu {
    display: none;
}

/*

    封面區塊

*/
#hero {
    width: 100%;
    height: 100vh;
    /*background: url(../image/Lanyu001.png) top right no-repeat;*/
    background-color: rgba(0,0,0,0);
    background-size: cover;
    position: relative;
    z-index: 0;
}

@media (min-width: 992px) {
    #hero {
        padding-left: 160px;
    }
}

#hero:before {
    content: "";
    background: rgba(0,0,0,0);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero h1 {
    margin: 0;
    font-size: 96px;
    font-weight: 700;
    line-height: 56px;
    color: #ffffff;
}

#hero p {
    color: #ffffff;
    margin: 15px 0 0 0;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}

    #hero p span {
        color: #FF5757;
        letter-spacing: 1px;
    }


@media (max-width: 992px) {
    #hero {
        text-align: center;
    }

        #hero h1 {
            font-size: 32px;
            line-height: 36px;
        }

        #hero p {
            margin-top: 10px;
            font-size: 20px;
            line-height: 24px;
        }
}


@media screen and (max-width: 767px) {

    .Image_Background {
        background-size: cover;
        width: auto;
        height: 1080px;
        max-width: 100%;
        max-height: 100%;
    }


    /*nav + Left Menu Bar */
    .menucontainer {
        display: flex;
    }

    .menu {
        position: relative;
        display: inline-block;
    }

    .toggle-nav {
        display: block;
        position: absolute;
        left: 4%;
        color: #ffffff;
        text-decoration: none;
        line-height: 50px;
    }


    .menu-logo {
        position: relative;
        left: 4%;
    }

    .menu ul {
        display: none;
    }

    .closebtn {
        position: relative;
        margin: 16px;
        left: 80%;
        font-size: 1.5em;
    }

        .closebtn:hover {
            cursor: pointer;
            color: #FF9900;
        }

    .leftmenu {
        display: block;
        background-color: #272626;
        color: white;
        height: 100%;
        width: 100%;
        z-index: 1;
        position: fixed;
        left: -100%;
        transition: all 1s;
    }

        .leftmenu.active {
            position: fixed;
            top: 0;
            left: 0%;
            transition: all 1s;
        }

    .leftul li {
        list-style: none;
        margin: 32px auto;
        font-size: 2em;
    }

        .leftul li.current-active, .leftul li:hover {
            color: #FF9900;
        }

        .leftul li:hover {
            cursor: pointer;
        }
}

/*   

    各章標題設定

*/
.title_Ex {
    position: relative;
    top: 2vh;
    padding-bottom: 30px;
}

.title_text {
    margin: 0 1em;
}

.title_Ex h1 {
    font-size: 40px;
    font-weight:700;
}

.title_img {
    width: 40px;
    height: 40px;
}


/*  

    關於我區塊

*/
ul li {
    list-style-image: url(../image/boateye30x30.png);
}

li span, li strong {
    position:relative;
    top:-10px;
}

.infoboard {
    padding-bottom:2vh;

}


/*

    Skills 區塊

*/
.skills .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}

    .skills .progress .skill {
        padding: 10px 0;
        margin: 0;
        text-transform: uppercase;
        display: block;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        color: #45505b;
    }

        .skills .progress .skill .val {
            float: right;
            font-style: normal;
        }

.skills .progress-bar-wrap {
    background: #f2f3f5;
}

.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #FF5757;
}

