/*
    basic settings
*/
html{
    margin:0;
    padding:0;

}
body {
    margin: 0px;
    padding: 0px;
    background: url(../image/Lanyu002.JPG) center center fixed no-repeat;
    background-size: cover;
    /*滑動效果*/
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
}

/*============Scrollbar=================*/

::-webkit-scrollbar {
    width: 8px; /* for vertical scrollbars */
    height: 8px; /* for horizontal scrollbars */

}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
}
/*============Scrollbar=================*/

/*遮罩*/
.BlackBackground {
    background: rgba(0,0,0,.7);
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

/* 背景圖 */
.Image_Background {
    background: url(../image/Lanyu001.png) center center;
    background-size: cover;
    content: " ";
    width: auto;
    height: 100%;
    max-width: 100%;

}

/*  各章間隔  */
body > section {
    margin-top: 10vh;
    margin-bottom: 10vh;
}


/*

    Menu 與 Narbar區    

*/
.menu {
    width: 100%;
    display: flex;
    background: rgba(0,0,0,0);
    height: 50px;
    position: fixed;
    z-index: 2;
    transition: all 0.5s ease;
}

    .menu li {
        float: left;
        list-style: none;
        margin: 7px 50px 0px 0px;
        color: #FFFFFF;
        font-size: 24px;
        font-family: "Poppins", sans-serif;
    }

        .menu li a {
            text-decoration: none;
            color: #FFFFFF;
            transition: color linear 0.15s;
            cursor: pointer;
        }

    .menu .menu-logo {
        margin: auto;
        margin-left: 0px;
        padding: 15px 15px 15px 25px;
    }

        .menu .menu-logo a {
            color: #ffffff;
        }

    .menu a:hover, .menu .current-active a {
        text-decoration: none;
        color: #FF5757;
    }

.toggle-nav, .leftmenu {
    display: none;
}

/*

    封面區塊

*/
#hero {
    width: 100%;
    height: 100vh;
    /*background: url(../image/Lanyu001.png) top right no-repeat;*/
    background-color: rgba(0,0,0,0);
    background-size: cover;
    position: relative;
    z-index: 0;
}

@media (min-width: 992px) {
    #hero {
        padding-left: 160px;
    }
}

#hero:before {
    content: "";
    background: rgba(0,0,0,0);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero h1 {
    margin: 0;
    font-size: 96px;
    font-weight: 700;
    line-height: 56px;
    color: #ffffff;
}

#hero p {
    color: #ffffff;
    margin: 15px 0 0 0;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}

    #hero p span {
        color: #FF5757;
        letter-spacing: 1px;
    }


@media (max-width: 992px) {
    #hero {
        text-align: center;
    }

        #hero h1 {
            font-size: 32px;
            line-height: 36px;
        }

        #hero p {
            margin-top: 10px;
            font-size: 20px;
            line-height: 24px;
        }

    .skill_img_1 {
        display: none;
    }
}


@media screen and (max-width: 767px) {

    .Image_Background {
        background-size: cover;
        width: auto;
        height: 1080px;
        max-width: 100%;
        max-height: 100%;
    }


    /*nav + Left Menu Bar */
    .menucontainer {
        display: flex;

    }

    .menu {
        /*position: relative;*/
        display: inline-block;
    }

    .toggle-nav {
        display: block;
        position: fixed;
        color: #ffffff;
        text-decoration: none;
        line-height: 50px;
        left:5%;
    }


    .menu-logo {
        position: absolute;
        left: 4%;
    }

    .menu ul {
        display: none;
    }

    .closebtn {
        position: relative;
        margin: 16px;
        left: 80%;
        font-size: 1.5em;
    }

        .closebtn:hover {
            cursor: pointer;
            color: #FF9900;
        }

    .leftmenu {
        display: block;
        background-color: #272626;
        color: white;
        height: 100%;
        width: 100%;
        z-index: 3;
        position: fixed;
        left: -100%;
        transition: all 1s;
    }

        .leftmenu.active {
            position: fixed;
            top: 0;
            left: 0%;
            transition: all 1s;
        }

    .leftul li {
        list-style: none;
        margin: 32px auto;
        font-size: 2em;
    }

        .leftul li.current-active, .leftul li:hover {
            color: #FF9900;
        }

        .leftul li:hover {
            cursor: pointer;
        }


}

/*   

    各章標題設定

*/
.title_Ex {
    position: relative;
    top: 2vh;
    padding-bottom: 30px;
}

.title_text {
    margin: 0 1em;
}

.title_Ex h1 {
    font-size: 40px;
    font-weight:700;
}

.title_img {
    width: 40px;
    height: 40px;
    content: url('../image/boateye30x30.png');
}


/*  

    關於我區塊

*/
ul li {
    list-style-image: url(../image/boateye30x30.png);
}

li span, li strong {
    position:relative;
    top:-10px;
}

.infoboard {
    padding-bottom:2vh;

}


/*

    Skills 區塊

*/
.skills .progress {
    height: 70px;
    display: block;
    background: none;
    border-radius: 0;
    font-size:16px;
}

    .skills .progress .skill {
        padding: 10px 0;
        margin: 0;
        text-transform: uppercase;
        display: block;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        color: #45505b;
    }

        .skills .progress .skill .val {
            float: right;
            font-style: normal;
        }

.skills .progress-bar-wrap {
    background: #f2f3f5;
}

.skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #FF5757;
    font-size: 16px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.skill_img_1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position:relative;
    
}

    .skill_img_1 img {
        max-width: 70%;
        max-height: 70%;
    }


    @media screen and (max-width: 767px) {
        .skill_img_1 {
            display: none;
        }
    }




    /* Timeline區段*/


.cd-container {
    width: 90%;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10%;
    border-radius: 2px;
}

    .cd-container::after {
        content: '';
        display: table;
        clear: both;
    }

/* -------------------------------- 

Main components 

-------------------------------- */


#cd-timeline {
    position: relative;
    padding: 2em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

    #cd-timeline::before {
        content: '';
        position: absolute;
        top: 0;
        left: 25px;
        height: 100%;
        width: 4px;
        background: #FF5757;
        
    }

@media only screen and (min-width: 1170px) {
    #cd-timeline {
        margin-top: 3em;
        margin-bottom: 3em;
    }

        #cd-timeline::before {
            left: 50%;
            margin-left: -2px;
        }
}

.cd-timeline-block {
    position: relative;
    margin: 2em 0;
}

    .cd-timeline-block:after {
        content: "";
        display: table;
        clear: both;
    }

    .cd-timeline-block:first-child {
        margin-top: 0;
    }

    .cd-timeline-block:last-child {
        margin-bottom: 0;
    }

@media only screen and (min-width: 1170px) {
    .cd-timeline-block {
        margin: 4em 0;
    }

        .cd-timeline-block:first-child {
            margin-top: 0;
        }

        .cd-timeline-block:last-child {
            margin-bottom: 0;
        }
}

.cd-timeline-img {
    position: absolute;
    top: 8px;
    left: 12px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 16px;
    /*box-shadow: 0 0 0 4px #FFFFFF, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);*/
    background: #FF5757;
    color: white;
}

@media only screen and (min-width: 1170px) {
    /*.cd-timeline-img {
        width: 30px;
        height: 30px;
        left: 50%;
        margin-left: -15px;
        margin-top: 15px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
*/
    .cd-timeline-img {
        width: 40px;
        height: 40px;
        left: 49.5%;
        padding: 8px 0px 0px 1.5px;
        margin-left: -15px;
        margin-top: 15px;
        font-size: 20px;
        /* Force Hardware Acceleration in WebKit */
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }
}

.cd-timeline-content {
    position: relative;
    margin-left: 60px;
    margin-right: 30px;
    background: #333C42;
    border-radius: 2px;
    padding: 1em;

}
    .timeline-content-info
{
    background: #2B343A;
    padding: 5px 10px;
    color: rgba(255,255,255,0.7);
    font-size: 12px;
    box-shadow: inset 0 2px 0 rgba(0, 0, 0, 0.08);
    border-radius: 2px;
}
.timeline-content-info-title, .timeline-content-info-date {
    width: calc(50% - 2px);
    display: inline-block;
}

@media (max-width: 500px) {
    .timeline-content-info-title, .timeline-content-info-date {
        display: block;
        width: 100%;
    }
    
}



.content-skills {
    font-size: 12px;
    padding: 0;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}

.cd-timeline-content h2 {
    color: rgba(255,255,255,.9);
    margin-top: 0;
    margin-bottom: 5px;
}

.cd-timeline-content p, .cd-timeline-content .cd-date {
    color: rgba(255,255,255,1);
    font-size: 13px;
    font-size: 0.8125rem;
}

.cd-timeline-content .cd-date {
    display: inline-block;
}

.cd-timeline-content p {
    margin: 1em 0;
    line-height: 1.6;
}

.cd-timeline-content::before {
    content: '';
    position: absolute;
    top: 16px;
    right: 100%;
    height: 0;
    width: 0;
    border: 7px solid transparent;
    border-right: 7px solid #333C42;
}

@media only screen and (min-width: 768px) {
    .cd-timeline-content h2 {
        font-size: 20px;
        font-size: 1.25rem;
    }

    .cd-timeline-content p {
        font-size: 16px;
        font-size: 1rem;
    }

    .cd-timeline-content .cd-read-more, .cd-timeline-content .cd-date {
        font-size: 14px;
        font-size: 0.875rem;
    }

}

@media only screen and (min-width: 1170px) {
    .cd-timeline-content {
        color: white;
        margin-left: 0;
        padding: 1.6em;
        width: 36%;
        margin: 0 5%
    }

        .cd-timeline-content::before {
            top: 24px;
            left: 100%;
            border-color: transparent;
            border-left-color: #333C42;
        }

        .cd-timeline-content .cd-date {
            position: absolute;
            width: 100%;
            left: 122%;
            top: 6px;
            font-size: 16px;
            font-size: 1rem;
        }

    .cd-timeline-block:nth-child(even) .cd-timeline-content {
        float: right;
    }

        .cd-timeline-block:nth-child(even) .cd-timeline-content::before {
            top: 24px;
            left: auto;
            right: 100%;
            border-color: transparent;
            border-right-color: #333C42;
        }

        .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-read-more {
            float: right;
        }

        .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
            left: auto;
            right: 122%;
            text-align: right;
        }

    .cd-timeline-img {
        padding: 8px 0px 0px 1.5px;
        font-size: 16px;
    }
}

@media only screen and (max-width: 1170px) {
    .cd-timeline-img {
        padding: 6.8px 0px 0px 1.5px;
        font-size: 12px;
    }

}


/*for 動畫用class*/

/*.animate_nav {
    transition: all 0.5s ease;
}
    */
