/*the menu nav bar start ------->*/
body {
    margin: 0px;
    background: url(../image/Lanyu001.png) center center fixed no-repeat;
    background-color: gold;
    /*滑動效果*/
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    z-index: -1;
}


/*遮罩*/
.BlackBackground {
    background: rgba(0,0,0,.7);
    width: auto;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

/* 背景圖 */
.Image_Background {
    background: url(../image/Lanyu001.png) center center;
    background-size: cover;
    content: " ";
    width: auto;
    height: 100%;
    max-width: 100%;
}


.menu {
    width: 100%;
    display: flex;
    background: rgba(0,0,0,0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
    height:50px;
}

    .menu li {
        float: left;
        list-style: none;
        margin: 7px 50px 0px 0px;
        font-size: 24px;
    }

        .menu li a {
            text-decoration: none;
            color: rgb(255, 151, 150);
            transition: color linear 0.15s;
            cursor: pointer;
        }

    .menu .menu-logo {
        margin: auto;
        margin-left: 0px;
        padding: 15px 15px 15px 25px;
    }

        .menu .menu-logo a {
            color: #ffffff;
        }

    .menu a:hover, .menu .current-active a {
        text-decoration: none;
        color: #ffffff;
    }

.toggle-nav, .leftmenu {
    display: none;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    /*background: url(../image/Lanyu001.png) top right no-repeat;*/
    background-color: rgba(0,0,0,0);
    background-size: cover;
    position: relative;
    z-index: 0;
}

@media (min-width: 992px) {
    #hero {
        padding-left: 160px;
    }
}

#hero:before {
    content: "";
    background: rgba(0,0,0,0);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero h1 {
    margin: 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #ffffff;
}

#hero p {
    color: #45505b;
    margin: 15px 0 0 0;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}

    #hero p span {
        color: rgb(0,0,0);
        letter-spacing: 1px;
    }

#hero .social-links {
    margin-top: 30px;
}

    #hero .social-links a {
        font-size: 24px;
        display: inline-block;
        color: #45505b;
        line-height: 1;
        margin-right: 20px;
        transition: 0.3s;
    }

        #hero .social-links a:hover {
            color: #0563bb;
        }

@media (max-width: 992px) {
    #hero {
        text-align: center;
    }

        #hero h1 {
            font-size: 32px;
            line-height: 36px;
        }

        #hero p {
            margin-top: 10px;
            font-size: 20px;
            line-height: 24px;
        }
}


@media screen and (max-width: 767px) {

    /*名字介紹 + nav的背景div*/
    .Image_Background {
        background-size: cover;
        width: auto;
        height: 1080px;
        max-width: 100%;
        max-height: 100%;
    }

    .menucontainer {
        display: flex;
    }

    .menu {
        position: relative;
        display: inline-block;
    }

    .toggle-nav {
        display: block;
        position: absolute;
        left: 4%;
        color: #ffffff;
        text-decoration: none;
        line-height: 50px;
    }


    .menu-logo {
        position: relative;
        left:4%;
    }

    .menu ul {
        display: none;
    }

    .closebtn {
        position: relative;
        margin: 16px;
        left: 80%;
        font-size: 1.5em;
    }

        .closebtn:hover {
            cursor: pointer;
            color: #FF9900;
        }

    .leftmenu {
        display: block;
        background-color: #272626;
        color: white;
        height: 100%;
        width: 100%;
        z-index: 1;
        position: fixed;
        left: -100%;
        transition: all 1s;
    }

        .leftmenu.active {
            position: fixed;
            top: 0;
            left: 0%;
            transition: all 1s;
        }

    .leftul li {
        list-style: none;
        margin: 32px auto;
        font-size: 2em;
    }

        .leftul li.current-active, .leftul li:hover {
            color: #FF9900;
        }

        .leftul li:hover {
            cursor: pointer;
        }
}
